<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    <title>Registration</title>
</head>
<body>
    <div class="main">
        <div class="content">
            <p><strong>CREATE ACCOUNT</strong></p>
            <div class="inputs">
                <form action="#">
                    <input type="text" id="name" name="name" placeholder="Your Name" required><br><br>
                    <input type="email" id="email" name="email" placeholder="Your Email" required><br><br>
                    <input type="password" id="password" name="password" placeholder="Password" required><br><br>
                    <input type="text" id="rollnum" name="rollname" placeholder="Roll Number" required><br><br>
                    <button type="submit">SIGN UP</button>
                </form>
            </div>
            <p>Already have an account? <span><a href="../views/login.html">Login Here</a></span></p>
        </div>
    </div>
    <script src="../public/registration.js"></script>
</body>
</html>